<section>
  <div class="container mt-4">
    <div class="row">
     
     <div class="col-md-6 pd-2">
        <h2 class="text-center">Add student</h2>
      <form action="/add-students" method="post" enctype="multipart/form-data">
        <label for="">Name</label>
          <input type="text" class="form-control" name="Name">
          <label for="">Class</label>
          <input type="number" class="form-control" name="Class">

          <label for="">Age</label>
          <input type="number" class="form-control" name="Age">

          <label for="">Division</label>
          <input type="text" class="form-control" name="Division">
          
          <label for="">Image</label>
          <input type="file" class="form-control" name="Image">

        <button type="submit" class="btn btn-success mt-4">Submit</button>
      </form>
    </div>
    </div>
  </div>
</section>